@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

.circle .mask,
.circle .fill-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #212020;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  position: absolute;
  z-index: 100;
  font-weight: 600;
  font-size: 26px;
}

.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ffb400;
}

